# Node.js
node_modules/

# Build output
build/
dist/

# Dependency directories
.npm/
.yarn/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Vercel
.vercel/

# IDEs and Editors
.idea/
.vscode/
