@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #fff4db;
}

.container {
  background-color: #f4d8a4; 
  padding: 20px;
  width: 40%;
  margin: 0 auto;
  min-height: 100vh;
  overflow: auto;
}

h2 {
  font-size: 2em;
  color: #9f191c; 
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  border: 1px solid #9f191c; 
  text-align: center;
}

th {
  background-color: #9f191c; 
  color: #fff;              
}

tbody tr {
  background-color: #fff4db; 
}

tbody tr:hover {
  background-color: #f9e4b7; 
}

.coin-icon {
  display: block;
  margin: 0 auto;
  width: 120px;
  height: 120px;
}

@media (max-width: 768px) {
  .container {
    padding: 15px;
    width: 90%;
    margin: 0 5%;
  }

  h2 {
    font-size: 1.7em;
  }

  table th, table td {
    padding: 8px;
  }

  .coin-icon {
    width: 100px;
    height: 100px;
  }
}
